@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Genos:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('./styles/commonClasses.css');

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
